@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    font-family: 'Lato', sans-serif!important;
    padding: 0;
    margin:0;
}
/*.navbar-inverse { border-bottom: 3px solid #f27335!important; width: 100%!important; padding: 0!important; background:#C1C1C0!important;}*/
.navbar-nav li a { color: #000!important; }
h1, h2, h3, h4, h5 { text-transform: capitalize!important; }
.content { margin-top: 70px; }

.carousel-control { margin-top: 160px!important; margin-left: -13px; margin-right: -13px; background: none!important;}

.img-circle { border: 2px solid #f27335; }

.orange { color: #f27335; }
.center { text-align: center; }

.divider-image {
    background: url('../images/road.jpg') bottom center;
    height: 600px;
    width:100%;
    clear: both;
}
.bg {
    background: url('../images/egg.png');
    width: 300px;
    height: 130px;
    clear: both;
}
.bg h3 {
    font-size: 16px;
    width: 270px!important;
    padding: 60px 0px 0px 42px;

}
.bgline{
    border-bottom: dashed 2px;
    width: 70%;
    color: #f27335;
    border-top: none;
    margin-top: -8px;
}
.divider-image h3 { color: #f27335; text-transform: capitalize!important; }
.divider-image p { color: #000; }
.divider-image .container { padding-top: 101px; }
.footer { background: #F8F8F8; min-height: 80px; height: auto!important; }
.footer small { padding-top: 30px; }